<table mat-table [dataSource]="employees" class="mat-elevation-z8">
  <ng-container matColumnDef="companyName">
    <th mat-header-cell *matHeaderCellDef> Company Name </th>
    <td mat-cell *matCellDef="let employee"> {{employee.companyName}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="percentage">
    <th mat-header-cell *matHeaderCellDef> Percentage </th>
    <td mat-cell *matCellDef="let employee"> {{ employee.percentage/ 100 | percent:'1.2-2' }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

